nav {
    background-color: lightgray;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: 1000; 
    padding: 10px 20px; 
    box-sizing: border-box;
    height: 80px; 
}



